In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
### modeling
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression,Ridge,Lasso 
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from xgboost import XGBRegressor
import warnings

In [2]:
df=pd.read_csv("C://Users//yadav//Downloads//stud.csv")

In [3]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
x=df.drop(columns=['math_score'],axis=1)

In [5]:
y=df['math_score']

In [6]:
x.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75

In [7]:
numeric_feature= [feature for feature in df.columns if df[feature].dtype in ['int64', 'float64']]
categorical_feature= [feature for feature in df.columns if df[feature].dtype =='object']
print("we have {} numerical feature is : {} ".format(len(numeric_feature),numeric_feature))

print("we have {} categorical feature is {}".format(len(categorical_feature),categorical_feature))

we have 3 numerical feature is : ['math_score', 'reading_score', 'writing_score']
we have 5 categorical feature is ['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch', 'test_preparation_course']

In [8]:
### creating column transformer
num_feature =x.select_dtypes(exclude='object').columns
cat_feature=x.select_dtypes(include='object').columns
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer=StandardScaler()
oh_transformer=OneHotEncoder()
preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder",oh_transformer,cat_feature),
        ("StandardScaler",numeric_transformer,num_feature),
    ]
)

In [9]:
x=preprocessor.fit_transform(x)

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.33,random_state=42)
x_train.shape,x_test.shape

((670, 19), (330, 19))

In [11]:
## creating an evalute function to give all metrics after model training
def evaluate_model(true,predicted):
    mae=mean_absolute_error(true,predicted)
    mse=mean_squared_error(true,predicted)
    rmse= np.sqrt(mean_squared_error(true,predicted))
    r2_square=r2_score(true,predicted)
    return mae,rmse,r2_square

In [14]:
models={
    "Linear Regression": LinearRegression(),
    "Lasso ":Lasso(),
    "Ridge ":Ridge(),
    "Random Forest Regressor":RandomForestRegressor(),
    "k- neighbours regressor": KNeighborsRegressor(),
    "Decision Tree":DecisionTreeRegressor(),
    "XGB Regressor":XGBRegressor(),
    "Adaboost Regressor":AdaBoostRegressor()
}
model_list=[]
for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(x_train,y_train)  #train model
    #make prediction
    y_train_pred=model.predict(x_train)
    y_test_pred=model.predict(x_test)
    model_train_mae,model_train_rmse,model_train_r2=evaluate_model(y_train,y_train_pred)
    model_train_mae,model_train_rmse,model_train_r2=evaluate_model(y_test,y_test_pred)
    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    print('Model performance for training set')
    print("-Root Mean squared error  {:.4f}".format(model_train_rmse))
    print("-Mean Absolute Error :{:.4f}".format(model_train_mae))
    print("-r2 score :{:.4f}".format(model_train_r2))

Linear Regression
Model performance for training set
-Root Mean squared error  5.5013
-Mean Absolute Error :4.3764
-r2 score :0.8753
Lasso
Model performance for training set
-Root Mean squared error  6.8057
-Mean Absolute Error :5.3547
-r2 score :0.8092
Ridge
Model performance for training set
-Root Mean squared error  5.4951
-Mean Absolute Error :4.3670
-r2 score :0.8756
Random Forest Regressor
Model performance for training set
-Root Mean squared error  6.1018
-Mean Absolute Error :4.8224
-r2 score :0.8466
k- neighbours regressor
Model performance for training set
-Root Mean squared error  7.3447
-Mean Absolute Error :5.6848
-r2 score :0.7778
Decision Tree
Model performance for training set
-Root Mean squared error  8.3822
-Mean Absolute Error :6.5455
-r2 score :0.7106
XGB Regressor
Model performance for training set
-Root Mean squared error  6.5016
-Mean Absolute Error :5.2259
-r2 score :0.8259
Adaboost Regressor
Model performance for training set
-Root Mean squared error  6.3176
-Mean Absolute Error :4.9655
-r2 score :0.8356